<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Qeustion</th>
      <th scope="col">Answer</th>
      <th scope="col">Reason</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let r of records">
      <td>
        <app-latex [content]="r.question"></app-latex>
      </td>
      <td>
        <app-latex [content]="r.answer"></app-latex>
      </td>
      <td>
        <app-latex [content]="r.reason"></app-latex>
      </td>
      <th scope="row">
        <a class="btn btn-primary" (click)="edit()">Edit</a>
      </th>
    </tr>
    <tr *ngIf="records.length < 1" class="text-center">
      <td colspan="6">
        No Carts Registered
      </td>
    </tr>
  </tbody>
</table>


<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
